# DB - Railway에서 PostgreSQL 플러그인 추가시 자동 주입
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/yakjosim

# 식약처 DUR 공공 OpenAPI (https://www.data.go.kr/data/15059486/openapi.do)
DUR_API_KEY=

# Naver CLOVA OCR
CLOVA_OCR_URL=
CLOVA_OCR_SECRET=

# Anthropic Claude API
ANTHROPIC_API_KEY=

# 앱 설정
ENVIRONMENT=development
